Tools/XMLSchema/FrameworkHeaders.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.TianoCore.org/2006/Edk2.0" xmlns="http://www.TianoCore.org/2006/Edk2.0">
    <!--
    Filename: FrameworkHeaders.xsd
    
    Copyright (c) 2006, Intel Corp.
    All rights reserved. This program and the accompanying materials
    are licensed and made available under the terms and conditions of the BSD License
    which may be found at http://opensource.org/licenses/bsd-license.php
    
    THE PROGRAM IS DISTRIBUTED UNDER THE BSD LICENSE ON AN "AS IS" BASIS,
    WITHOUT WARRANTIES OR REPRESENTATIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED.
    
  -->
    <xs:include schemaLocation="FrameworkDataElements.xsd"/>
    <xs:annotation>
        <xs:documentation xml:lang="en">This XML Schema defines the content of Framework XML files.</xs:documentation>
    </xs:annotation>
    <xs:element name="FdbHeader">
        <xs:annotation>
            <xs:documentation xml:lang="en">This is the header for the Framework Package Database file.</xs:documentation>
            <xs:documentation xml:lang="en">Unless otherwise noted below, the entires in the header should be generated by the EDK/MDK Package Creation Tool.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" ref="DatabaseName"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="GuidValue"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="Version"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="CreatedDate"/>
                <!-- NOTE:  The Updated element is the modified date of the Database File and should be updated by the Package Installation Tool. -->
                <xs:element minOccurs="0" maxOccurs="1" ref="UpdatedDate"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="Abstract"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="Description"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="Copyright"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="License"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="Specification"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="MsaHeader">
        <xs:annotation>
            <xs:documentation xml:lang="en">This is the Module Surface Area Description Header - a replacement for INF files.</xs:documentation>
            <xs:documentation xml:lang="en">The GuidValue should change when the contents of the module go through a significant change which would break backward compatibility.</xs:documentation>
            <xs:documentation xml:lang="en">The Version should change when there are updates to the module that are either minor or bugfixes, that do not break backward compatibility.</xs:documentation>
            <xs:documentation xml:lang="en">The Specification in the Header is the specification that this file format complies with. It is NOT the specification element that are used by the modules.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="BaseName" type="BaseNameConvention"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="ModuleType"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="ComponentType"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="GuidValue"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="Version"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="Abstract"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="Description"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="Copyright"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="License"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="CreatedDate"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="ModifiedDate"/>
                <xs:element minOccurs="1" maxOccurs="1" name="SupportedArchitectures">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="(ALL){1}|(((IA32)|((X64)|(IPF)|(EBC)){1}((,((IA32)|(X64)|(IPF)|(EBC)){1} ){0,2}))){1}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element minOccurs="1" maxOccurs="1" ref="Specification"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PlatformHeader">
        <xs:annotation>
            <xs:documentation xml:lang="en">This header is for the Framework Platform Description file (FPD.)</xs:documentation>
            <xs:documentation xml:lang="en">The GuidValue should change when the contents of the platform go through a significant change.</xs:documentation>
            <xs:documentation xml:lang="en">The Version should change when there are minor updates to the module that are either minor or bugfixes.</xs:documentation>
            <xs:documentation xml:lang="en">The Specification in the Header is the specification that this file format complies with. It is NOT the specification element that are used by the modules.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="PlatformName" type="PlatformNamingConvention"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="GuidValue"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="Version"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="Abstract"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="Description"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="Copyright"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="License"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="CreatedDate"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="ModifiedDate"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="BuildTarget"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="Specification"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SpdHeader">
        <xs:annotation>
            <xs:documentation xml:lang="en">This head is for the Surface Area Package Description file (SPD) The Guid may change when the contents of the file are changed.</xs:documentation>
            <xs:documentation xml:lang="en">The GuidValue should change when the contents of the platform go through a significant change.</xs:documentation>
            <xs:documentation xml:lang="en">The Version should change when there are minor updates to the module that are either minor or bugfixes.</xs:documentation>
            <xs:documentation xml:lang="en">The Specification in the Header is the specification that this file format complies with. It is NOT the specification element that are used by the modules.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="PackageName" type="BaseNameConvention"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="GuidValue"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="Version"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="Abstract"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="Description"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="Copyright"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="License"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="CreatedDate"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="E-Mail"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="ModifiedDate"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="URL"/>
                <xs:element minOccurs="1" maxOccurs="1" name="Type" type="PackageType"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="ReadOnly"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="RePackage"/>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="Specification"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
