Tools/XMLSchema/FrameworkDataElements.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" xmlns="http://www.TianoCore.org/2006/Edk2.0" targetNamespace="http://www.TianoCore.org/2006/Edk2.0">
    <!--
    Filename: FrameworkDataElements.xsd
    
    Copyright (c) 2006, Intel Corp.
    All rights reserved. This program and the accompanying materials
    are licensed and made available under the terms and conditions of the BSD License
    which may be found at http://opensource.org/licenses/bsd-license.php
    
    THE PROGRAM IS DISTRIBUTED UNDER THE BSD LICENSE ON AN "AS IS" BASIS,
    WITHOUT WARRANTIES OR REPRESENTATIONS OF ANY KIND, EITHER EXPRESS OR IMPLIED.
    
  -->
    <xs:annotation>
        <xs:documentation xml:lang="en"> This schema defines EFI and Framework Data Elements </xs:documentation>
    </xs:annotation>
    <xs:include schemaLocation="NamingConvention.xsd"/>
    <xs:include schemaLocation="FrameworkDataTypes.xsd"/>
    <xs:include schemaLocation="FrameworkPlatformDataTypes.xsd"/>
    <xs:include schemaLocation="FrameworkDataAttributes.xsd"/>
    <xs:element name="Abstract" type="Sentence">
        <xs:annotation>
            <xs:documentation xml:lang="en">Abstract is valid for all Description Files</xs:documentation>
            <xs:documentation xml:lang="en">This section is required. This is a single sentence to describe the module and will be used in sample files as the abstract data in the header comment section.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="AntCmd">
        <xs:annotation>
            <xs:documentation xml:lang="en">This is a sub-element of AntTask</xs:documentation>
            <xs:documentation xml:lang="en">This is an ant command that will be inserted into a biuld sequence. Since ant commands are valid XML statements, special care must be taken to use the correct tokens for reserved words and escape quote characters.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="Id" type="xs:int"/>
                <xs:element name="ExecutionOrder">
                    <xs:simpleType>
                        <xs:list itemType="xs:normalizedString"/>
                    </xs:simpleType>
                </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="SectionAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="AntTask">
        <xs:annotation>
            <xs:documentation xml:lang="en">This is a sub-element of UserDefinedAntTasks</xs:documentation>
            <xs:documentation xml:lang="en">Define a file that contains one or more ant tasks that are to be added into or replacing of sequences of build steps. These files will be called using the ant-call task on a file name. These files must be valid apache-ant formatted task files.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element ref="AntCmd"/>
                <xs:element ref="Filename"/>
            </xs:choice>
            <xs:attribute name="Id" type="xs:int" use="required"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="BootModes">
        <xs:annotation>
            <xs:documentation xml:lang="en">BootModes is valid for all Description Files</xs:documentation>
            <xs:documentation xml:lang="en">This is a list of BootModes Supported by the Module</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="unbounded">
                <xs:element name="BootMode">
                    <xs:complexType>
                        <xs:attributeGroup ref="BootModeAttributes"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="BuildOptions">
        <xs:annotation>
            <xs:documentation xml:lang="en">BuildOptions is valid for SPD and FPD files.</xs:documentation>
            <xs:documentation xml:lang="en">Specific Build Options, by Tool Chain, than should be applied, overriding any global options</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="SupportedBuildTargets" type="UCNameType"/>
                <xs:element minOccurs="0" maxOccurs="1" name="SupportedArchitectures" type="ArchListType"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="UserDefinedAntTasks"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ImageEntryPoint"/>
                <xs:element minOccurs="0" maxOccurs="1" ref="OutputDirectory"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Ffs"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Filenames"/>
                <xs:sequence minOccurs="0">
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="Option">
                        <xs:complexType>
                            <xs:simpleContent>
                                <xs:extension base="xs:normalizedString">
                                    <xs:attributeGroup ref="OptionAttributes"/>
                                </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="C_Name" type="C_NameType">
        <xs:annotation>
            <xs:documentation xml:lang="en">C_Name is valid for all Description Files</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ComponentName" type="C_NameType">
        <xs:annotation>
            <xs:documentation xml:lang="en">ComponentName is valid for all Description Files</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ComponentType" type="FrameworkComponentTypes">
        <xs:annotation>
            <xs:documentation xml:lang="en">Describe the valid Framework Component Type</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Constructor" type="C_NameType"/>
    <xs:element name="Copyright" type="Paragraph"/>
    <xs:element name="DataHubs">
        <xs:annotation>
            <xs:documentation xml:lang="en">This is a list of DataHubRecord elements.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="unbounded">
                <xs:element name="DataHubRecord">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:normalizedString">
                                <xs:attributeGroup ref="DataHubAttributes"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DatabaseName" type="xs:NCName"/>
    <xs:element name="DefaultValue">
        <xs:annotation>
            <xs:documentation xml:lang="en">The default setting of a PCD entry.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:normalizedString"/>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Description" type="Paragraph">
        <xs:annotation>
            <xs:documentation xml:lang="en">This section is required for new modules and libraries and must contain more information than the Abstract.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="Destructor" type="C_NameType"/>
    <xs:element name="DriverBinding" type="C_NameType"/>
    <xs:element name="DriverConfig" type="C_NameType"/>
    <xs:element name="DriverDiag" type="C_NameType"/>
    <xs:element name="DynamicPcdBuildDefinitions">
        <xs:annotation>
            <xs:documentation xml:lang="en">Child of Framework Platform Description (FPD)</xs:documentation>
            <xs:documentation xml:lang="en">FPD uses this PCD information for Dynamic PCDs Only</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="PcdBuildData">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="1" ref="C_Name"/>
                            <xs:element minOccurs="1" maxOccurs="1" name="Token" type="TokenDataType"/>
                            <xs:element minOccurs="0" maxOccurs="1" name="TokenSpaceGuid" type="GuidType"/>
                            <xs:element minOccurs="1" maxOccurs="1" name="DatumType" type="PcdDataTypes"/>
                            <xs:element minOccurs="0" maxOccurs="1" name="MaxDatumSize" type="DatumSizeLimitation"/>
                            <xs:element minOccurs="1" maxOccurs="unbounded" name="SkuInfo">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="1" name="SkuId" type="xs:nonNegativeInteger"/>
                                        <xs:choice>
                                            <xs:group minOccurs="0" maxOccurs="1" ref="HiiEnable"/>
                                            <xs:group minOccurs="0" maxOccurs="1" ref="VpdEnable"/>
                                            <xs:group minOccurs="0" maxOccurs="1" ref="DefaultGroup"/>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attributeGroup ref="PcdAttributes"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Events">
        <xs:annotation>
            <xs:documentation xml:lang="en">This is a list of MSA Events</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="CreateEvents">
                    <xs:complexType>
                        <xs:sequence minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="Event">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="1" name="GuidC_Name" type="GuidC_NameType"/>
                                    </xs:sequence>
                                    <xs:attributeGroup ref="EventAttributes"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="1" name="SignalEvents">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">Module has an event that is waiting to be signaled. Event is named by GUID.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="Event">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="1" name="GuidC_Name" type="GuidC_NameType"/>
                                    </xs:sequence>
                                    <xs:attributeGroup ref="EventAttributes"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ExitBootServicesCallBack" type="C_NameType"/>
    <xs:element name="Externs">
        <xs:annotation>
            <xs:documentation xml:lang="en">This is a child of MSA files.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="1">
                <xs:element minOccurs="0" maxOccurs="1" name="PcdIsDriver" type="PcdDriverTypes"/>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Extern">
                    <xs:complexType>
                        <xs:choice minOccurs="1">
                            <xs:sequence minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">Driver Module</xs:documentation>
                                </xs:annotation>
                                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ModuleEntryPoint"/>
                                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ModuleUnloadImage"/>
                            </xs:sequence>
                            <xs:sequence minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">Library Module</xs:documentation>
                                </xs:annotation>
                                <xs:element minOccurs="0" maxOccurs="1" ref="Constructor"/>
                                <xs:element minOccurs="0" maxOccurs="1" ref="Destructor"/>
                            </xs:sequence>
                            <xs:sequence minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en">Allow multiple entries for DriverBinding, ComponentName, DriverConfig and DriverDiag elements. For ComponentName, DriverConfig and/or DriverDiag - you must have a 1:1 mapping to DriverBinding if the element is defined.</xs:documentation>
                                    <xs:documentation xml:lang="en">Permit User Defined Extern Tags</xs:documentation>
                                </xs:annotation>
                                <xs:element minOccurs="0" maxOccurs="unbounded" ref="DriverBinding"/>
                                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ComponentName"/>
                                <xs:element minOccurs="0" maxOccurs="unbounded" ref="DriverConfig"/>
                                <xs:element minOccurs="0" maxOccurs="unbounded" ref="DriverDiag"/>
                            </xs:sequence>
                            <xs:sequence minOccurs="0" maxOccurs="1">
                                <xs:annotation>
                                    <xs:documentation xml:lang="en"> Module Call Backs</xs:documentation>
                                </xs:annotation>
                                <xs:element minOccurs="0" maxOccurs="unbounded" ref="SetVirtualAddressMapCallBack"/>
                                <xs:element minOccurs="0" maxOccurs="unbounded" ref="ExitBootServicesCallBack"/>
                            </xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDefined" type="C_NameType"/>
                        </xs:choice>
                        <xs:attributeGroup ref="ExternAttributes"/>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Specification"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Ffs">
        <xs:annotation>
            <xs:documentation xml:lang="en">Define the FFS File attributes within a sections and containing sections information</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Attribute">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="1" name="Name" type="C_NameType"/>
                            <xs:element minOccurs="1" maxOccurs="1" name="Value" type="C_NameType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="1" ref="Sections"/>
            </xs:sequence>
            <xs:attributeGroup ref="FfsAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Filename">
        <xs:annotation>
            <xs:documentation xml:lang="en">Describe the valid content of a filename This should extend PathAndFilename - Variable names not allowed here!</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="PathAndFilename">
                    <xs:attributeGroup ref="FilenameAttributes"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Filenames">
        <xs:annotation>
            <xs:documentation xml:lang="en">This is a list of Filenames</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="1">
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Filename"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GuidDeclarations">
        <xs:annotation>
            <xs:documentation xml:lang="en">This is a child of PackageSurfaceArea (SPD) </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="Entry">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="1" ref="C_Name"/>
                            <xs:element minOccurs="1" maxOccurs="1" ref="GuidValue"/>
                            <xs:element minOccurs="1" maxOccurs="1" ref="HelpText"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="GuidDeclarationAttributes"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Guids">
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="unbounded">
                <xs:element name="GuidEntry">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">Describe the valid content of a GUID element in and MSA file.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence minOccurs="0" maxOccurs="1">
                            <xs:element minOccurs="1" maxOccurs="1" ref="C_Name"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="GuidAttributes"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GuidValue" type="GuidType"/>
    <xs:element name="HelpText" type="Paragraph"/>
    <xs:element name="HiiPackages">
        <xs:annotation>
            <xs:documentation xml:lang="en">Describe the list of a HiiPackage elements</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="unbounded">
                <xs:element name="HiiPackage">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="C_NameType">
                                <xs:attributeGroup ref="HiiPackageAttributes"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Hobs">
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="unbounded">
                <xs:element name="Hob">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="GuidC_Name" type="GuidC_NameType"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="HobAttributes"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ImageEntryPoint" type="C_NameType"/>
    <xs:element name="IncludeHeader">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="PathAndFilename">
                    <xs:attributeGroup ref="IncludeHeaderAttributes"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="IndustryStdIncludes">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="IndustryStdHeader"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="IndustryStdHeader">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="Header" type="UiNameType"/>
                <xs:element minOccurs="1" maxOccurs="1" name="IncludeHeader" type="PathAndFilename"/>
                <xs:element minOccurs="1" maxOccurs="1" ref="HelpText"/>
            </xs:sequence>
            <xs:attributeGroup ref="IndustryStdHeaderAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="Libraries">
        <xs:annotation>
            <xs:documentation xml:lang="en">Different (Module) Instances of Libraries used ONLY in FPD Files.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="1">
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Library">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:NCName">
                                <xs:attributeGroup ref="LibraryAttributes"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LibraryClass">
        <xs:annotation>
            <xs:documentation xml:lang="en">Used in MSA files. This defines what class of library is being supported = produced (library module) or consumed by a module.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:NCName">
                    <xs:attributeGroup ref="LibraryClassAttributes"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <!-- LAH This is SPD LibraryClassDeclarations FINAL version -->
    <xs:element name="LibraryClassDeclarations">
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="LibraryClass">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="1" name="IncludeHeader" type="PathAndFilename"/>
                            <xs:element minOccurs="0" maxOccurs="1" name="RecommendedInstanceGuid" type="GuidType"/>
                            <xs:element minOccurs="0" maxOccurs="1" name="RecommendedInstanceVersion" type="VersionDataType"/>
                            <xs:element minOccurs="1" maxOccurs="1" ref="HelpText"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="LibraryClassDeclarationAttributes"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="LibraryClassDefinitions">
        <xs:annotation>
            <xs:documentation xml:lang="en">This section defines what Classes of Library that this library supports. A Library may belong to multiple different library classes.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="unbounded">
                <xs:element ref="LibraryClass"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="License">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="Paragraph">
                    <xs:attribute name="URL" type="xs:anyURI" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="ModuleEntryPoint" type="xs:normalizedString"/>
    <xs:element name="ModuleType" type="ModuleTypeDef">
        <xs:annotation>
            <xs:documentation xml:lang="en">Describe the valid EFI Phase that the Module is designed to execute under.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ModuleUnloadImage" type="xs:normalizedString"/>
    <!-- Use in Final -->
    <xs:element name="MsaFiles">
        <xs:annotation>
            <xs:documentation xml:lang="en">Surface Area Package Description (SPD) list of Module Surface Area files</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="Filename">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="PathAndFilename">
                                <xs:attributeGroup ref="ModuleNameAttributes"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="OutputDirectory">
        <xs:annotation>
            <xs:documentation xml:lang="en">Define where we want our output to go. The Attribute, IntermediateDirectories, default MODULE, says that intermediate files will be local to the module, versus a unified directory structure.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="DirectoryNamingConvention">
                    <xs:attribute default="MODULE" name="IntermediateDirectories">
                        <xs:simpleType>
                            <xs:restriction base="UCNameType">
                                <xs:enumeration value="MODULE"/>
                                <xs:enumeration value="UNIFIED"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="PackageDependencies">
        <xs:annotation>
            <xs:documentation xml:lang="en">This tag is used in the Module Surface Area Description File (MSA) to track package dependencies for a module.</xs:documentation>
            <xs:documentation xml:lang="en">Attributes to PackageName include Required: Usage PackageGuid PackageVesion, Optional: FeatureFlag</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="unbounded">
                <xs:element name="PackageName">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="UiNameType">
                                <xs:attributeGroup ref="PackageAttributes"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PackageHeaders">
        <xs:annotation>
            <xs:documentation xml:lang="en">This is a child of PackageSurfaceArea (SPD) </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="IncludePkgHeader">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="PathAndFilename">
                                <xs:attributeGroup ref="PackageHeaderAttributes"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PackageList">
        <xs:annotation>
            <xs:documentation xml:lang="en">This tag is used in the Framework Package Database File to track all packages (SPD files) installed in a workspace. (Database)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="unbounded">
                <xs:element name="Package">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">This tag is used in the Framework Package Database File to track individual package information. The Path is a WORKSPACE relative path to the SPD File.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence minOccurs="1" maxOccurs="1">
                            <xs:element name="PackageName">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="UiNameType">
                                            <xs:attributeGroup ref="PackageNameAttributes"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="1" maxOccurs="1" ref="Filename"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Path" type="PathAndFilename"/>
    <xs:element name="PcdBuildDefinition">
        <xs:annotation>
            <xs:documentation xml:lang="en">Child of FPD ModuleSA element for FIXED_AT_BUILD, PATCHABLE_IN_MODULE, and FEATURE_FLAG PCDS Only!</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="1">
                <xs:element maxOccurs="unbounded" name="PcdData">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="1" ref="C_Name"/>
                            <xs:element minOccurs="1" maxOccurs="1" name="Token" type="TokenDataType"/>
                            <xs:element minOccurs="0" maxOccurs="1" name="TokenSpaceGuid" type="GuidType"/>
                            <xs:element minOccurs="1" maxOccurs="1" name="DatumType" type="PcdDataTypes"/>
                            <xs:element minOccurs="0" maxOccurs="1" name="MaxDatumSize" type="DatumSizeLimitation"/>
                            <xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:normalizedString"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="PcdBuildDefinitionAttributes"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:group name="DefaultGroup">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="1" name="Value" type="xs:normalizedString"/>
        </xs:sequence>
    </xs:group>
    <xs:group name="HiiEnable">
        <xs:annotation>
            <xs:documentation xml:lang="en">If HiiEnable group is specified, then HiiEnable is default true</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="VariableName" type="VariableNameDataType"/>
            <xs:element minOccurs="0" maxOccurs="1" name="VariableGuid" type="VariableGuidType"/>
            <xs:element minOccurs="0" maxOccurs="1" name="VariableOffset" type="Hex64BitDataType"/>
            <xs:element minOccurs="0" maxOccurs="1" name="HiiDefaultValue" type="xs:normalizedString"/>
        </xs:sequence>
    </xs:group>
    <xs:group name="VpdEnable">
        <xs:annotation>
            <xs:documentation xml:lang="en">If VpdEnable group is specified, then VpdEnable is default true</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="VpdOffset" type="Hex64BitDataType"/>
        </xs:sequence>
    </xs:group>
    <xs:element name="PcdCoded">
        <xs:annotation>
            <xs:documentation xml:lang="en">Child of Module Surface Area Description (MSA)</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="1">
                <xs:element maxOccurs="unbounded" name="PcdEntry">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">This is the valid content of the PCD table of a Module. The contents may not be wired at build time, and these only refer to Platform Build values, not modules.</xs:documentation>
                        <xs:documentation xml:lang="en">This element is valid for PcdInfo.xml and FPD files.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="1" ref="C_Name"/>
                            <xs:element minOccurs="0" maxOccurs="1" name="DefaultValue" type="DefaultValue"/>
                            <xs:element minOccurs="1" maxOccurs="1" ref="HelpText"/>
                        </xs:sequence>
                        <!-- MSA file declares a single usage, and must match one of the entries in what the SPD file declares as the set of possible Item Types. -->
                        <xs:attribute name="PcdItemType" type="PcdItemTypes" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- LAH This is PcdDeclarations FINAL version -->
    <xs:element name="PcdDeclarations">
        <xs:annotation>
            <xs:documentation xml:lang="en">Child of Package Surface Area Description (SPD)</xs:documentation>
            <xs:documentation xml:lang="en">This section is for entering information about a package's PCDs</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="1">
                <xs:element maxOccurs="unbounded" name="PcdEntry">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="1" ref="C_Name"/>
                            <xs:element minOccurs="1" maxOccurs="1" name="Token" type="TokenDataType"/>
                            <xs:element minOccurs="1" maxOccurs="1" name="TokenSpaceGuid" type="GuidType"/>
                            <xs:element minOccurs="1" maxOccurs="1" name="DatumType" type="PcdDataTypes"/>
                            <xs:element minOccurs="1" maxOccurs="1" name="ValidUsage" type="PcdListType"/>
                            <xs:element minOccurs="0" maxOccurs="1" name="DefaultValue" type="DefaultValue"/>
                            <xs:element minOccurs="1" maxOccurs="1" ref="HelpText"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="PcdDeclarationAttributes"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PpiDeclarations">
        <xs:annotation>
            <xs:documentation xml:lang="en">This is a child of PackageSurfaceArea (SPD) </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="Entry">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="1" ref="C_Name"/>
                            <xs:element minOccurs="0" maxOccurs="1" ref="GuidValue"/>
                            <xs:element minOccurs="1" maxOccurs="1" ref="HelpText"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="PpiDeclarationAttributes"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PPIs">
        <xs:annotation>
            <xs:documentation xml:lang="en">Provide for one or more Ppi or PpiNotify sections. </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="1">
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Ppi">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="C_NameType">
                                <xs:attributeGroup ref="PpiAttributes"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="PpiNotify">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="C_NameType">
                                <xs:attributeGroup ref="PpiNotifyAttributes"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ProtocolDeclarations">
        <xs:annotation>
            <xs:documentation xml:lang="en">This is a child of PackageSurfaceArea (SPD) </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="Entry">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="1" ref="C_Name"/>
                            <xs:element minOccurs="0" maxOccurs="1" ref="GuidValue"/>
                            <xs:element minOccurs="1" maxOccurs="1" ref="HelpText"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="ProtocolDeclarationAttributes"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Protocols">
        <xs:annotation>
            <xs:documentation xml:lang="en">If either Protocol or ProtocolNotify sections are needed, one or more of them should be specified within this section</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="unbounded">
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Protocol">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="C_NameType">
                                <xs:attributeGroup ref="ProtocolAttributes"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="ProtocolNotify">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="C_NameType">
                                <xs:attributeGroup ref="ProtocolNotifyAttributes"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element default="false" name="ReadOnly" type="xs:boolean"/>
    <xs:element default="false" name="RePackage" type="xs:boolean"/>
    <xs:element name="Sections">
        <xs:annotation>
            <xs:documentation xml:lang="en">Sections refers to the Firmware Filesystem sections, PE32, UI, VER, DXS, etc. and how they are made</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="1">
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Section">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" ref="Filenames"/>
                            <xs:element minOccurs="0" name="Args" type="ArgsType"/>
                            <xs:element minOccurs="0" name="OutFile" type="PathAndFilename"/>
                            <xs:element minOccurs="0" name="OutputFileExtension" type="xs:string"/>
                            <xs:element minOccurs="0" name="ToolName" type="ToolType"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="SectionAttributes"/>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Sections">
                    <xs:complexType>
                        <xs:sequence minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="Section">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element minOccurs="0" ref="Filenames"/>
                                        <xs:element minOccurs="0" name="Args" type="ArgsType"/>
                                        <xs:element minOccurs="0" name="OutFile" type="PathAndFilename"/>
                                        <xs:element minOccurs="0" name="OutputFileExtension" type="xs:string"/>
                                        <xs:element minOccurs="0" name="ToolName" type="ToolType"/>
                                    </xs:sequence>
                                    <xs:attributeGroup ref="SectionAttributes"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attributeGroup ref="SectionsAttributes"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attributeGroup ref="SectionsAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="SetVirtualAddressMapCallBack" type="C_NameType"/>
    <xs:element name="SourceFiles">
        <xs:annotation>
            <xs:documentation xml:lang="en">Multiple Filenames may be specified, and they may also be scoped to a specific Architecture.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="1">
                <xs:element minOccurs="0" maxOccurs="unbounded" ref="Filename"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SkuInfo">
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="unbounded">
                <xs:element name="UiSkuName">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="UiNameType">
                                <xs:attribute name="SkuID" type="xs:nonNegativeInteger" use="required"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Specification">
        <xs:annotation>
            <xs:documentation xml:lang="en">This string is used to provide the name and version of the Specification that the component conforms to.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="Version" type="xs:normalizedString" use="optional"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="SystemTables">
        <xs:annotation>
            <xs:documentation xml:lang="en">This is list of System Table elements.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="unbounded">
                <xs:element name="SystemTable">
                    <xs:complexType>
                        <xs:sequence minOccurs="1" maxOccurs="unbounded">
                            <xs:element minOccurs="0" maxOccurs="1" name="GuidC_Name" type="GuidC_NameType"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="SystemTableAttributes"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UserDefinedAntTasks">
        <xs:annotation>
            <xs:documentation xml:lang="en">This is a sub-element of BuildOptions</xs:documentation>
            <xs:documentation xml:lang="en">Permit Users to define their own custom ANT tasks.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence maxOccurs="unbounded">
                <xs:element minOccurs="1" ref="AntTask"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="UserExtensions">
        <xs:complexType>
            <xs:complexContent mixed="true">
                <xs:extension base="xs:anyType">
                    <xs:attribute name="UserID" type="xs:NCName" use="required"/>
                    <xs:attribute name="Identifier" type="xs:nonNegativeInteger" use="required"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Variables">
        <xs:annotation>
            <xs:documentation xml:lang="en">An MSA FILE list of EFI Variables described by string pair.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="unbounded">
                <xs:element name="Variable">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">This is an EFI Variable Entry</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="1" name="VariableName" type="VariableNameDataType"/>
                            <xs:element minOccurs="1" maxOccurs="1" name="GuidC_Name" type="GuidC_NameType"/>
                        </xs:sequence>
                        <xs:attributeGroup ref="VariableAttributes"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Version" type="VersionDataType"/>
</xs:schema>
